body {
  background: black;
  font-family: "Patrick Hand";
}

.row {
  margin: 10px;
  display: flex;
}

.row:first-child {
  align-items: flex-start;
}
.row:last-child {
  align-items: flex-end;
}

.col:last-child {
  text-align: right;
}

.widget {
  font-size: 50px;
}

.bottom {
  position: absolute; 
  bottom: 0; 
  width: 100%;
}

s-birthdays ul {
  list-style: none;
  padding-left: 0;
  font-size: 40px;
}

*:unresolved {
  display: none;
}